/* add CSS class and element and selectors here */
body {
      background-color: #C6FFDC;
      font-size: 100%;
    }

.blacktea {
      font-size: 200%;
      background-color: #FFDDB3;
      font-family: "playfair display";
      border: 5px dotted black;
      text-transform: uppercase;
      letter-spacing: 25px;
      transition: rotate(-30)deg;
      text-align: center;
    }