/* optional examples, not required for review or code along*/

@import url('https://fonts.googleapis.com/css?family=Lobster');

ul {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  list-style-type: none;

}

li {
  width: 90%;
  height: 70px;
}
.font-style {
  font-family: 'Trebuchet MS', cursive;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-shadow: 5px 5px #D5D5D5
}
.text-size {
  font-size: 400%;
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
}
.background {
  background: linear-gradient(black, white);
  color: white;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
  letter-spacing: 26px;
  font-weight: 100;
}
.borders {
  border: 3px dashed black;
}
.page-layout {
  display: flex;
  flex-flow: column;
  box-shadow: inset 0 0 10px #000000;
  padding: 5px;
}
.page-layout div {
  display: flex;
}
.page-layout div div {
  width: 100%;
  border: 1px;
}
.margins {
  margin: 15px 0 0 15px;
  padding: 5px;
  background: black;
  box-shadow: 15px 15px 5px white;
  color: white;
  font-family: "Trebuchet MS";
  text-transform: uppercase;
  letter-spacing:35px;
  text-align:center;
}
.rounding-edges {
  border-radius: 10px;
  background: #FFF;
  padding: 4px;
}
.more {
  font-size: 200%;
  font-family: "Trebuchet MS";
  animation: animationFrames linear 300s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  line-height: 70px;
  text-align: center;
  color: black;
}

@keyframes animationFrames{
  0% {
    transform:  rotate(360deg) ;
    opacity: 1;
    color: red;
    background-color: white;
  }
  50% {
    opacity: 0;
    color: blue;
    background-color: yellow;
  }
  100% {
    transform:  rotate(0deg) ;
    opacity: 1;
    color: black;
    background-color: white;
  }
}

body {
  margin: 0 10%;
}
